<h1>New workshop</h1>

<div style="background-color: #ccc; min-height: 600px; padding:200px;">

<h1 style="font-size:180px; color: #bbb;"><i class="fa fa-tablet fa-5x"></i></h1>

</div>

<%= link_to 'Back', workshops_path %>
