<div class="section white" style="padding-top: 7%;" >
	<div class="container">
		<div class="row"><div class="visible-xs" style="height: 30px;"></div><div class="visible-xs" style="height: 30px;"></div>
			<div class="col-sm-12">
		      	<h2 class="text-center"><span style="color:#1f2b3a">Invest in you</span></h2>
		      	<div class="text-justify">
	      			<p><b>Online tutorials will only take you so far.</b> Whether you are looking to build your own apps or you're thinking of becoming a web developer, Coder Factory gives you the tools you need to reach your goals.</p>

					<p>It doesn't matter if you have a little or no coding experience. Our experienced teachers go through everything you need to know to <b>start building your own applications</b>. You'll come out with a solid understanding of web and application development, plus meet some great people along the way.</p>

					<p><b>Here are just a few of the places our graduates have gone onto after completing our course:</b></p>
				</div>
	    	</div>
	  	</div>

		<div class="row center-block">
			<div class="col-xs-3" style="padding-top:10px">
				<a target="_blank" href="http://blackcitrus.com.au/index.html" ><img src="http://res.cloudinary.com/coder-factory/image/upload/v1404074342/blackcitruslogo_hbphds.png" class="img-responsive"></a>
			</div>
			<div class="col-xs-3">
				<a target="_blank" href="http://www.workible.com.au/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/v1404074055/workible_ahkpp5.png" class="img-responsive"></a>
			</div>
			<div class="col-xs-3">
				<a target="_blank" href="http://www.vistr.com.au/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,h_75/v1403833048/vistr_ya985m.png" class="img-responsive"></a>
			</div>
			<div class="col-xs-3" style="padding-bottom:20px">
				<a target="_blank" href="http://www.sentia.com.au/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/v1403833187/sentia_logo_LoRes-227x73_wevkos.jpg" class="img-responsive"></a>
			</div>
		</div>
	</div>
</div>