<div class="white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
			      <h2 class="text-center">Coder Factory</h2>
			      <div class=" text-justify">
			      	<p>The Coder Factory is an intensive 12 week course that teaches you the fundamentals of web development. </p>

							<p>Online tutorials will only take you so far. Whether you are looking to build your own apps or you're thinking of becoming a web developer, The Coder Factory gives you the tools you need to reach your goals.</p>

							<p>Here are just a few of the places our graduates have gone onto after completing our course:</p>
						</div>

								Vistr
								Black Citrus
								Sentia

			    </div>
			  </div>
			</div>
		</div>