<div class="grey" style="padding-top: 7%;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
	      <h2 class=" text-center">More than coding</h2>
	      <div class="text-justify text">
		      <p>Our <b>twelve week program</b> covers the most important aspects of application design and development. From object-oriented programming and database management like <b>Ruby on Rails</b> and <b>PostgreSQL</b>, to front-end technologies such as <b>HTML5/CSS3</b> and <b>Javascript</b>.</p>
		    </div>
		  </div>
		</div>
		<div class="row center-block" style="padding-bottom: 40px; padding-top: 10px;">
			<div class="col-xs-2">
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_50/v1403843188/rails_wgfbgl.png" class="img-responsive" style="padding-top:5px;">
			</div>
			<div class="col-xs-2">
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_50/v1403844973/github-profile-trans_h9ets9.png" class="img-responsive">
			</div>
			<div class="col-xs-2">
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_50/v1403843861/HTML5_Logo_256_krpp8m.png" class="img-responsive" style="">
			</div>
			<div class="col-xs-2">
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_50/v1403842957/css3_cgswbl.png" class="img-responsive" style="">
			</div>
			<div class="col-xs-2">				
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_60/v1403843232/stripe-logo_wof9lk.png" class="img-responsive" style="padding-top:10px;padding-bottom:10px;">
				
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_60/v1403843694/jquery_irtcis.png" class="img-responsive" style="">
				
			</div>
			<div class="col-xs-2">
				<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_50/v1403844697/google1-sm_foi9py.png" class="img-responsive" style="padding-top:5px;">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
		    <div class="text-justify text">
					<p>Learning about web development is much more than learning how to code. Along with teaching you the basic building blocks of web development we teach you how to <b>think like a programmer</b>. We show you the motivations behind good software design and best-practices, data structures, and code readings.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 text-center" style="padding-bottom:20px;">
					<a href="#info-enquiry" class="btn btn-lg btn-default" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" style="font-family:Montserrat">Download the info pack</a>
			</div>

			
    </div>
  </div>
</div>