<div class="grey">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
			      <h2 class=" text-center">The Course</h2>
			      <div class="text-justify text">
				      <p>Our twelve week program covers the most important aspects of application design and development. From object-oriented programming and server-side principles, to front-end technologies such as HTML5/CSS3 and Javascript.</p>

							<p>But learning about web development is much more than learning how to code. Along with teaching you the basic building blocks of web development we teach you how to think like a programmer. We show you the motivations behind good software design and best-practices, data structures, and code readings.</p>
							
							<div class="text-center">
								<a href="#info-enquiry" class="btn btn-lg btn-default" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF">Download the info pack</a>
							</div>
							<br>
							<blockquote>"The environment was incredibly friendly and the teachers were super helpful" <small>Jessa Boanas-Dewes, Toot Sweet.</small>
							</blockquote>
						</div>
			    </div>
			  </div>
			</div>
		</div>