<div class="grey" style="padding-top: 10%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	      <h2 class=" text-center">More than coding</h2>
	      <div class="text-justify text">
		      <p>Our <b>twelve week program</b> covers the most important aspects of application design and development. From object-oriented programming and database management like <b>Ruby on Rails</b> and <b>PostgreSQL</b>, to front-end technologies such as <b>HTML5/CSS3</b> and <b>Javascript</b>.</p>

					<p>Learning about web development is much more than learning how to code. Along with teaching you the basic building blocks of web development we teach you how to <b>think like a programmer</b>. We show you the motivations behind good software design and best-practices, data structures, and code readings.</p>
					<p>
							
							<div class="text-center">
								<a href="#info-enquiry" class="btn btn-lg btn-default" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" style="font-family:Montserrat">Download the info pack</a>
							</div>
							<br>
							<blockquote>"The environment was incredibly friendly and the teachers were super helpful" <small>Jessa Boanas-Dewes, Toot Sweet.</small>
							</blockquote>
						</div>
			    </div>
			  </div>
			</div>
		</div>