<div class="grey section" style="padding-top: 3%;" data-anchor="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	      <h2 class=" text-center" style="margin-bottom:-10px;">FAQ</h2>
	      <div class="text-justify text">
					<div class="panel-group" id="accordion">
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      	            What is Coder Factory?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse1" class="panel-collapse collapse in">
        				<div class="panel-body">
          				Coder Factory is a private school based in <b>Sydney, Australia</b> devoted to teaching web and application development to anyone willing to learn - novices and programmers alike.
				        </div>
				      </div>
				    </div>
						<!-- <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
      	            Do you have any other locations?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse2" class="panel-collapse collapse">
        				<div class="panel-body">
          				We are based in Sydney, however we do regularly visit other parts of the country for weekend workshops and events. To find out if we'll be near you, check out our facebook page.
				        </div>
				      </div>
				    </div> -->
							
							
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      	            What am I going to learn?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse3" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>You'll learn the fundamental components of application design and development. More specifically: <b>Ruby on Rails, PostgreSQL, Git, HTML5/CSS3, Javascript</b>.</p>
				        </div>
				      </div>
				    </div>
							
							
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
      	            What will we be building?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse4" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>You'll be building lots of stuff. Some of the things that have been built in previous classes include a <b>Facebook clone, an e-commerce application that sends gifts and rock band profile social network</b>.</p>
				        </div>
				      </div>
				    </div>
				
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
      	            How long does the class go for?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse5" class="panel-collapse collapse">
        				<div class="panel-body">
          				We've designed our Application Design course so you can still work throughout the day. <b>The course is part-time, held twice a week from 6pm to 9pm</b>.
				        </div>
				      </div>
				    </div>
				
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
      	            How much does it cost?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse6" class="panel-collapse collapse">
        				<div class="panel-body">
          				Tuition for the Application Development course is $3,150. You can opt to pay either upfront or in monthly instalments. We offer a 10% discount for all upfront payment.
      						<br>
      						<br>We also offer discounts for women, and Aboriginal and Torres Strait islanders.
				        </div>
				      </div>
				    </div>
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
      	            How competitive is the application process?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse7" class="panel-collapse collapse">
        				<div class="panel-body">
          				We receive a lot of interest throughout the year for our Application Development course and the intakes can fill up relatively fast. We recommend you submit your application as early as possible to have a better chance of claiming a spot.
				        </div>
				      </div>
				    </div>
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
      	            How can I increase my chances of being accepted?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse8" class="panel-collapse collapse">
        				<div class="panel-body">
          				The best way to increase your chances of being accepted is by completing the application form with as much information as possible. It doesn't matter if you don't have any coding experience. We're looking to see you're willing to put it in the time and effort to complete the entire program.
				        </div>
				      </div>
				    </div>

      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
      	            Do I need to have any prior knowledge?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse9" class="panel-collapse collapse">
        				<div class="panel-body">
          				As mentioned above, you don't have to have any prior programming experience. Once you've been accepted, our pre-course work makes sure all students start at the same level.
				        </div>
				      </div>
				    </div>
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
      	            Why not a full-time course?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse10" class="panel-collapse collapse">
        				<div class="panel-body">
          				We're working hard to offer a full-time course. Once we've completed work on the curriculum and have gauged the level of interest, we'll be offering a full-time course. If you're interested to learn more about a full-time course let us know at info@thecoderfactory.com
				        </div>
				      </div>
				    </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>