<div class="grey">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
			      <h2 class=" text-center">F.A.Q.</h2>
			      <div class="text-justify text">
			      	<dl>
			      		<dt>Do I need to bring anything?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>How long does the class go for?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>How competitive is the application process?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>How can I increase my chances of being accepted?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>Do I have to have any prior knowledge?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>What will we be building?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      		<dt>Why not a full-time course?</dt>
			      		<dd>Lorem Ipsum</dd><br>
			      	</dl>
				      
				      
				      
				      
				      
				      
						</div>
			    </div>
			  </div>
			</div>
		</div>