<div class="grey">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
			      <h2 class=" text-center">F.A.Q.</h2>
			      <div class="text-justify text">
			      	<dl>
			      		<dt>What is Coder Factory?</dt>
			      		<dd>Coder Factory is a private school based in <b>Sydney, Australia</b> devoted to teaching web and application development to anyone willing to learn - novices and programmers alike.</dd><br>

			      		<dt>Do you have any other locations?</dt>
			      		<dd>We are based in Sydney, however we do regularly visit other parts of the country for weekend workshops and events. To find out if we'll be near you, check out our <facebook page>.</dd><br>

			      		<dt>What am I going to learn?</dt>
			      		<dd>You'll learn the fundamental components of application design and development. More specifically: <b>Ruby on Rails, PostgreSQL, Git, HTML5/CSS3, Javascript</b>.</dd><br>

			      		<dt>What will we be building?</dt>
			      		<dd>You'll be building lots of stuff. Some of the things that have been built in previous classes include a <b>twitter clone, a facebook clone and even a ....... clone</b>.</dd><br>

			      		<dt>Do I need to bring anything?</dt>
			      		<dd><b>You'll need to bring your laptop</b>. Macs and Linux machines are preferred but we work with Windows too. Just know it'll take a little more configuring. If you've got a Mac, make sure it runs Snow Leopard (OSX 10.6) or above.</dd><br>

			      		<dt>How long does the class go for?</dt>
			      		<dd>We've designed our Application Design course so you can still work throughout the day. <b>The course is part-time, held twice a week from 6pm to 9pm</b>.</dd><br>

			      		<dt>How much does it cost?</dt>
			      		<dd>Tuition for the Application Development course is $3,150. You can opt to pay either upfront or in monthly instalments. We offer a 10% discount for all upfront payment.
			      		<br>
			      		<br>We also offer discounts for women, and Aboriginal and Torres Strait islanders.</dd><br>

			      		<dt>How competitive is the application process?</dt>
			      		<dd>We receive a lot of interest throughout the year for our Application Development course and the intakes can fill up relatively fast. We recommend you submit your application as early as possible to have a better chance of claiming a spot.</dd><br>

			      		<dt>How can I increase my chances of being accepted?</dt>
			      		<dd>The best way to increase your chances of being accepted is by completing the application form with as much information as possible. It doesn't matter if you don't have any coding experience. We're looking to see you're willing to put it in the time and effort to complete the entire program.</dd><br>

			      		<dt>Do I have to have any prior knowledge?</dt>
			      		<dd>As mentioned above, you don't have to have any prior programming experience. Once you've been accepted, our pre-course work makes sure all students start at the same level.</dd><br>

			      		<dt>Why not a full-time course?</dt>
			      		<dd>We're working hard to offer a full-time course. Once we've completed work on the curriculum and have gauged the level of interest, we'll be offering a full-time course. If you're interested to learn more about a full-time course let us know at <info@coderfactory.co></dd><br>


			      	</dl>
				      
				      
				      
				      
				      
				      
						</div>
			    </div>
			  </div>
			</div>
		</div>