

<div class="dark-blue" style="padding-top: 10%; padding-bottom:10%;">
    <div class="container-header">
    <div class="row" style="padding-bottom: 20px; ">
        <div class="col-xs-2 col-xs-offset-5 text-center">
          <a href="#apply" class="btn btn-white btn-lg btn-block">Apply</a>
          
        </div>

      </div>
      <hr>
  	<div class="row">
    <div class="col-xs-3" id="quick-links">
            <h3>Links</h3>
            <ul class="fa-ul">
        <li datamenu-anchor="course"><i class="fa-li fa fa-chevron-right"></i><a href="#course">Course</a></li>
        <li datamenu-anchor="schedule"><i class="fa-li fa fa-chevron-right"></i><a href="#schedule">Schedule</a></li>
        <li datamenu-anchor="team"><i class="fa-li fa fa-chevron-right"></i><a href="#team">Team</a></li>
        <li datamenu-anchor="faq"><i class="fa-li fa fa-chevron-right"></i><a href="#faq">FAQ</a></li>
        <li><i class="fa-li fa fa-chevron-right"></i><a href="#application-form" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" class="apply-link">Apply</a></li>
        
        
      </ul>
           
        </div>
        <div class="col-xs-3" id="contacts-footer">
        	<h3>Contact details</h3>
            <p>91 Campbell St<br> SURRY HILLS NSW 2010<br> Australia<br>Telephone: <a href="tel:1300 884 095"> 1300 884 095</a><br>Email: <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a></p>
            
        </div>
        <div class="col-xs-3" id="contacts-footer">
            <h3>Social links</h3>
             <ul class="fa-ul">
        <li><i class="fa-li fa fa-facebook"></i> <a href="#course">Facebook</a></li>
        <li><i class="fa-li fa fa-twitter"></i><a href="#schedule">Twitter</a></li>
        <li><i class="fa-li fa fa-linkedin"></i><a href="#team">LinkedIn</a></li>
        <li><i class="fa-li fa fa-google-plus"></i><a href="#team">Google+</a></li>
        <li><i class="fa-li fa fa-globe"></i><a href="#faq">The Startup Community</a></li>
        
        
      </ul>
            
        </div>
        <div class="col-xs-3" id="contacts-footer">
        	<h3>Newsletter</h3>

            <form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group">
                Stay up to date with the latest from The Coder Factory
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter email address here" required></div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white"></div>
            </form>
            <br>
        </div>
        
        
        </div>
    </div>
</div>