<div class="hero-container">
<div class="fullwidthbanner-container hero hidden-xs" id="hero-image">
<!-- <img src="http://res.cloudinary.com/coder-factory/image/upload/v1402932558/landing_jagsi4.jpg">
 -->
 <div class="container" style="height:500px;">
 	<div class="row">
 		<div class="col-md-12">
   		<h2>Learn. Build. Connect.</h2>
   		<p><span style="color:white">Coder Factory provides an intensive 12 week course that teaches you<br/>the fundamentals of web development.</span></p>
   		<h3>
   		<!-- <img src="http://i.imgur.com/z0HDAJi.png" alt="Click to play"> -->
   		<!-- <a class="fancybox-media" href="https://www.youtube.com/watch?v=Dthd3_-IS20" alt="Link to video 'Inside the Coder Factory'"> -->
   		<a class="various fancybox.iframe" href="https://www.youtube.com/embed/Dthd3_-IS20?autoplay=1">
   		<!-- <a href="#video" data-toggle="adaptive-modal"> -->
   			<i class="fa fa-play-circle-o fa-5x"></i>
   		</a></h3>
 		</div>
 	</div>
 </div>

</div>
</div>
