<div class="hero-container section">
	<div class="fullwidthbanner-container hero" id="hero-image">
<!-- <img src="http://res.cloudinary.com/coder-factory/image/upload/v1402932558/landing_jagsi4.jpg">
 -->
		 <div class="container">
		 	<div class="row">
		 		<div class="col-xs-12">
		   		<h2>Learn. Build. Connect.</h2>
		   		<p><span style="color:white">Coder Factory provides an intensive 12 week course that teaches you<br/>the fundamentals of web development.</span></p>
		   		<h3>
		   		<!-- <img src="http://i.imgur.com/z0HDAJi.png" alt="Click to play"> -->
		   		<!-- <a class="fancybox-media" href="https://www.youtube.com/watch?v=Dthd3_-IS20" alt="Link to video 'Inside the Coder Factory'"> -->
		   		
		   		<a class="various fancybox.iframe" href="https://www.youtube.com/embed/Dthd3_-IS20?autoplay=1">
		   		<!-- <a href="#video" data-toggle="adaptive-modal"> -->
		   			<!-- <img src="http://i.imgur.com/z0HDAJi.png" alt="Click to play"> -->
		   			<div id="play-button">
		   		  <img class="blue-button" src="http://res.cloudinary.com/coder-factory/image/upload/q_50/v1403753197/click-to-play-blue_kl77ky.png" />
		   		  <img class="white-button" src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,q_50,w_163/v1403753197/click-to-play_fobxrl.png" />
		   		</div>
		   		</a></h3>
		 		</div>
		 	</div>
		 </div>
			<div class="trans">
				<div class="container-header">
					<div class="row">
						<div class="col-xs-2 col-xs-offset-1">
							<a target="_blank" href="http://www.startupdaily.com.au/2013/08/the-coder-factory-aims-to-build-their-workforce-through-education/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403768422/startup-daily_ky4bg9.png" class="img-responsive"></a>
						</div>
						<div class="col-xs-2 col-xs-offset-1">
							<a target="_blank" href="http://www.ugtastic.com/sunday-coder-club-sydney/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/v1403768422/ugtastic_lxzmtz.png" class="img-responsive"></a>
						</div>
						<div class="col-xs-2 col-xs-offset-1">
							<a target="_blank" href="http://www.startupnews.com.au/2014/06/02/the-coder-factory-on-why-you-need-to-learn-to-code/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/c_mpad,g_center,h_100,w_300/v1403768422/startupnews_jxnlp6.png" class="img-responsive"></a>
						</div>
						<div class="col-xs-2 col-xs-offset-1">
							<a href="http://anthillonline.com/need-learn-code-doom-tech-startup-failure/" ><img src="http://res.cloudinary.com/coder-factory/image/upload/v1403768421/anthill_ldfuxc.png" class="img-responsive"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="white-panel">
				<div class="container"><div class="row"><div class="col-xs-2 col-xs-offset-5 text-center">
					<div id="arrow">
						<a href="#coder-factory" datamenu-anchor="coder-factory">
						<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_80/v1403847987/down-arrow-icon_pyuiox.png" class=" center-block"></a>
					</div>
				</div></div></div>
			</div>
	</div>
</div>
