<div class="hero-container">
<div class="fullwidthbanner-container hero hidden-xs" id="hero-image">
<!-- <img src="http://res.cloudinary.com/coder-factory/image/upload/v1402932558/landing_jagsi4.jpg">
 -->
 <div class="container" style="height:500px;">
 	<div class="row">
 		<div class="col-md-12">
   		<h2>Learn. Build. Connect.</h2>
   		<p><span style="color:white">Coder Factory provides an intensive 12 week course that teaches you<br/>the fundamentals of web development.</span></p>
   		<img src="http://i.imgur.com/z0HDAJi.png" alt="Click to play">
 		</div>
 	</div>
 </div>

</div>
</div>