<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
      <h2>Schedule</h2>
      <p>Different schedules allow you to choose the intake that is right for you.
      <br>Application Development course tuition starts at $990 per month.</p>
      <br>
    </div>
    <div class="col-xs-12">
      <table class="table">
      	<thead>
	      	<tr>
	      		<th class="">Intake</th>
	      		<th class="">Days</th>
	      		<th class="hidden-xs"></th>
	      		<th class="">Status</th>
	      	</tr>
	      </thead>
	      <tbody>
	      	<tr>
	      		<td class="">May 31 - Aug 16</td>
	      		<td class="hidden-xs">Days</td>
	      		<td>Saturdays</td>
	      		<td class="text-danger sans"><strong>Full</strong></td>
	      	</tr>
	      	<tr>
	      		<td class="">Jul 22 - Oct 09</td>
	      		<td class="hidden-xs">Evenings</td>
	      		<td>Tuesdays & Thursdays</td>
	      		<td class="text-warning sans"><strong>Almost Full</strong></td>
	      	</tr>
	      	<tr>
	      		<td class="">Aug 23 - Nov 08</td>
	      		<td class="hidden-xs">Days</td>
	      		<td>Saturdays</td>
	      		<td class="text-success sans"><strong>Available</strong></td>
	      	</tr>
	      	<tr>
	      		<td class="">Sept 15 - Dec 03</td>
	      		<td class="hidden-xs">Evenings</td>
	      		<td>Monday & Wednesdays</td>
	      		<td class="text-success sans"><strong>Available</strong></td>
	      	</tr>
	      </tbody>
      </table>
    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class=" text-center" style="padding-top:40px;">
			  <p>Come along to an info sessions and meet the team, hear all about the course and see a demonstration of what you will be able to build.</p>
			  <a href="http://coderfactory.eventbrite.com.au/" class='btn btn-default' target="_blank">Register for an info session</a>
			</div>
		</div>
	</div>
</div>
