<div class="white" style="padding-top: 10%;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
			      <h2>Schedule</h2>
			      <p>Lorem ipsum</p>
			    </div>
			  </div>
			</div>
		</div>