<div class="white" style="padding-top: 10%;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
			      <h2>Schedule</h2>
			      <p>Different schedules allow you to choose the intake that is right for you.
			      <br>Application Development course tuition starts at $990 per month.</p>
			      <br>
			    </div>
			    <div class="col-md-12">
			      <table class="table">
			      	<thead>
				      	<tr>
				      		<th class="">Intake</th>
				      		<th class="" colspan="2">Days</th>
				      		<th class="">Status</th>
				      	</tr>
				      </thead>
				      <tbody>
				      	<tr>
				      		<td class="">June 2 - Aug 1</td>
				      		<td class="">Evenings</td>
				      		<td>Tuesdays & Thursdays</td>
				      		<td class="text-danger"><strong>Full</strong></td>
				      	</tr>
				      	<tr>
				      		<td class="">June 2 - Aug 1</td>
				      		<td class="">Evenings</td>
				      		<td>Monday & Wednesdays</td>
				      		<td class="text-warning"><strong>Almost full</strong></td>
				      	</tr>
				      	<tr>
				      		<td class="">June 2 - Aug 1</td>
				      		<td class="">Days</td>
				      		<td>Saturdays</td>
				      		<td class="text-success"><strong>Available</strong></td>
				      	</tr>
				      	<tr>
				      		<td class="">June 2 - Aug 1</td>
				      		<td class="">Evenings</td>
				      		<td>Tuesdays & Thursdays</td>
				      		<td class="text-success"><strong>Available</strong></td>
				      	</tr>
				      </tbody>
			      </table>
			    </div>
			    <div class="col-md-12">
			    <div class=" text-center apply-schedule">
			    <a href="#application-form" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" class="btn btn-default btn-lg">Apply</a>
			    </div>
			    </div>
			    </div>
			  </div>
			</div>