<div class="white" style="padding-top: 7%;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
      		<h2 style="padding-bottom:0;">Team</h2>
      		 <p>Our team is dedicated to making sure you get the most out of each class. We make sure you have plenty of support in and outside of the classroom.</p>
      	</div>
      </div>
      <div class="row">
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
      				
		        		<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403755108/Pete_hzzbfb.jpg" class="center-block img-responsive">
		        		
		        	<div class="text-center">
			        	<strong><span itemprop="name" class="sans">Pete Argent</span></strong><br>
			        	<span itemprop="title">Director</span>
			      	</div>
			      </div>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403755105/Flo_bmid6u.jpg" class="center-block img-responsive">
		        	<div class="text-center">
			        	<strong><span itemprop="name" class="sans">Florian Fischer</span></strong><br>
			        	<span itemprop="title">Operations</span>
			      	</div>
			      </div>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403755104/Dan_tobcar.jpg" class="center-block img-responsive">
		        	<div class="text-center">
			        	<strong><span itemprop="name" class="sans">Dan Siepen</span></strong><br>
			        	<span itemprop="title">Partnerships</span>
			      	</div>
			      </div>
				  </div>
				</aside>
			</div>
			<div class="row">
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403756124/Letisia_mdsior.jpg" class="center-block img-responsive">
		        	<div class="text-center">
			        	<strong><span itemprop="name" class="sans">Letisia Pangata'a</span></strong><br>
			        	<span itemprop="title">Co-teacher</span>
			      	</div>
			      </div>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403756478/avatar_f1lljw.png" class="center-block img-responsive">
		        	<div class="text-center">
		        		<strong><span itemprop="name" class="sans">Sylvain Aimoz</span></strong><br>
		        		<span itemprop="title">Co-teacher</span>
		      		</div>
		      	</div>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403756478/avatar_f1lljw.png" class="center-block img-responsive">
		        	<div class="text-center">
		        		<strong><span itemprop="name" class="sans">Matt Werth</span></strong><br>
		        		<span itemprop="title">Co-teacher</span>
		      		</div>
		      	</div>
				  </div>
				</aside>
      </div>
    </div>
  </div>

  