<div class="white">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
      		<h2>Team</h2>
      	</div>
      </div>
      <div class="row">
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1402160896/xr2tdzn1w7izwuzg4phn.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Dan Siepen</span></strong><br>
		        	<span itemprop="title">Partnerships</span>
		      	</p>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="https://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1401939772/wrdieci0ybzhlydriccf.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Florian Fischer</span></strong><br>
		        	<span itemprop="title">Operations</span>
		      	</p>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="https://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1401939772/wrdieci0ybzhlydriccf.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Florian Fischer</span></strong><br>
		        	<span itemprop="title">Operations</span>
		      	</p>
				  </div>
				</aside>
      </div>
    </div>
  </div>