<%= render 'header' %>
<%= render 'hero' %>

<div class="dark-blue">


</div>

<div class="white">
<div class="container">
	<div class="row">
		<div class="col-md-12">
      <h2 class="text-center"><span style="color:#1f2b3a">Invest in you</span></h2>
      <div class=" text-justify">
      	<p>Online tutorials will only take you so far. Whether you are looking to build your own apps or you're thinking of becoming a web developer, The Coder Factory gives you the tools you need to reach your goals.</p>

				<p>Our students come from all walks of life but all come out with a solid understanding of web and application development. Here are just a few of the places our graduates have gone onto after completing our course:</p>
			</div>

Vistr
Black Citrus
Sentia</p>

    </div>
  </div>
</div>
</div>

<div class="grey">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	      <h2 class=" text-center">More than coding</h2>
	      <div class="text-justify text">
		      <p>Our twelve week program covers the most important aspects of application design and development. From object-oriented programming and server-side principles, to front-end technologies such as HTML5/CSS3 and Javascript.</p>

					<p>Learning about web development is much more than learning how to code. Along with teaching you the basic building blocks of web development we teach you how to think like a programmer. We show you the motivations behind good software design and best-practices, data structures, and code readings.</p>
					<p>
					<blockquote>"The environment was incredibly friendly and the teachers were super helpful" <small>Jessa Boanas-Dewes, Toot Sweet.</small>
					</blockquote></p>
				</div>

					<div class="text-center">
						<a href="#" class="btn btn-lg btn-default">Download the info pack</a>
					</div>
	    </div>
	  </div>
	</div>
</div>
<div class="white">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
      <h2>Schedule</h2>
      <p>Lorem ipsum</p>


      <h2>Team</h2>
      <div class="row">
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1402160896/xr2tdzn1w7izwuzg4phn.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Dan Siepen</span></strong><br>
		        	<span itemprop="title">Partnerships</span>
		      	</p>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="https://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1401939772/wrdieci0ybzhlydriccf.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Florian Fischer</span></strong><br>
		        	<span itemprop="title">Operations</span>
		      	</p>
				  </div>
				</aside>
				<aside class="col-md-4">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<p class="text-center">
		        	<img src="https://res.cloudinary.com/coder-factory/image/upload/c_scale,w_250/v1401939772/wrdieci0ybzhlydriccf.png" class="img-responsive img-circle">
		        	<strong><span itemprop="name">Florian Fischer</span></strong><br>
		        	<span itemprop="title">Operations</span>
		      	</p>
				  </div>
				</aside>

     
      

      </div>
    </div>
  </div>
</div>
</div>