<%= render 'thanks/header' %>
<div class="section white" style="padding-top: 7%;" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
		      	<h2 class="text-center"><span style="color:#1f2b3a">Thank you</span></h2>
		      	<div class=" text-justify">
	      			<p><b>Your request for the Application Development info pack has been processed. You will receive an email shortly with the link to download it. </b></p>

					<p class="lead">You can also start on your journey by getting involved in our thriving community of coders.</p>
					<div class="row">
						<div class="col-md-5 col-md-offset-4">
					 <p><a href="https://facebook.com/groups/thecoderfactory" target="_blank" class="btn btn-default btn-block">Coder Factory Facebook Group</a></p>
					 <p><a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank" class="btn btn-default btn-block">Sunday Coder Club - Sydney</a></p>
					 <p><a href="http://www.meetup.com/Brisbane-Coder-Club/" target="_blank" class="btn btn-default btn-block">Sunday Coder Club - Brisbane</a></p>
					 <p class="text-center"><a href="/">Return to site</a></p>
				</div>


	    	</div>
	   </div>
	 </div>
	</div>
</div>
</div>
<%= render 'home/footer' %>
	  	