<div class="grey section" style="padding-top: 3%;" data-anchor="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	      <h2 class=" text-center" style="margin-bottom:-10px;">FAQ</h2>
	      <div class="text-justify text">
					<div class="panel-group" id="accordion">
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      	            What is Coder Factory?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse1" class="panel-collapse collapse in">
        				<div class="panel-body">
          				<p>Coder Factory is a coding school based in <b>Sydney, Australia</b> focusing on teaching web, iOS and game development to anyone willing to learn - novices and programmers alike.</p>
				        </div>
				      </div>
				    </div>

						
						<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2a">
                    What do I need to bring?
                  </a>
                </h4>
              </div>
              <div id="collapse2a" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>To develop apps for Apple's devices, you're going to need an Apple MacBook - doesn't matter if it's an Air or Pro. You can also prepare by downloading <a href="https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12" target="_blank">XCode</a>, you'll be using this to build your apps.</p>
                </div>
              </div>
            </div>

         
							
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      	            What am I going to learn?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse3" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>You'll learn how to design, build and launch your own iOS app -- it's not just about coding.</p>
				        </div>
				      </div>
				    </div>
							
							
      	    
				
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
      	            How long does the class go for?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse5" class="panel-collapse collapse">
        				<div class="panel-body">
          				We've designed our iOS Development course so you can still work your normal hours. <b>The course is part-time, held twice a week from 6pm to 9pm</b> on Thursdays and 10am - 4pm on Saturdays every week for 10 weeks.
				        </div>
				      </div>
				    </div>
				
				
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
      	            How much does it cost?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse6" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>Tuition for the iOS Development course is $3950 and we pay the GST if you pay upfront. A direct debit payment plan of $115 per week for 40 weeks is available.</p>
      						<p>We also offer discounts for women, Aboriginal and Torres Strait Islanders.</p>
				        </div>
				      </div>
				    </div>
				
      	    
      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
      	            How can I increase my chances of being accepted?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse8" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>The best way to increase your chances of being accepted is by completing the application form with as much information as possible. It doesn't matter if you don't have any coding experience. We're looking to see you're willing to put it in the time and effort to complete the entire program.</p>
				        </div>
				      </div>
				    </div>

      	    <div class="panel panel-default">
      	      <div class="panel-heading">
      	        <h4 class="panel-title">
      	          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
      	            Do I need to have any prior knowledge?
      	          </a>
      	        </h4>
      	      </div>
      				<div id="collapse9" class="panel-collapse collapse">
        				<div class="panel-body">
          				<p>As mentioned above, you don't have to have any prior programming experience. Once you've been accepted, our pre-course work makes sure all students start at the same level.</p>
				        </div>
				      </div>
				    </div>
				
      	    

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Do you have any other locations?
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>We are based in Sydney, however we do regularly visit other parts of the country for weekend workshops and events. To find out if we'll be near you, check out our facebook page.</p>
                </div>
              </div>
            </div>

			    </div>
			  </div>
			</div>
		</div>
    <div class="row hidden-xs" style="padding-bottom: 20px; padding-top: 40px; ">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <button href="#apply" class="btn btn-default btn-lg btn-block smoothScroll">Apply now</button>
          
        </div>

      </div>
	</div>
</div>