<div class="container-header">
	<div class="row">
		<div class="visible-xs" style="height: 30px;"></div><div class="visible-xs" style="height: 30px;"></div>
			<div class="col-sm-12 text-center">
	      	<h2><span>Start your journey...<br>to the App Store!</span></h2>
	      	
	      	<p>Has <b>your app idea</b> been keeping you awake at night?</p>
	      	<p>Worried someone else will build it before you get the chance?</p>
	      	<!-- <p>Have you heard how much you could earn as an iOS developer? <b>You don't even need an IT degree!</b></p> -->

	      	<p>You <b><i>can</i></b> learn to build your own iOS app and <b>launch</b> it on the app store in <b>just 10 weeks - part time!</b><br>(Even if you've never tried to learn coding before)</p>
	      	<p>The Coder Factory iOS Development Course has arrived.<br>Stand back, Australia, there are some <b>amazing new apps coming your way</b>.</p>
	      	<h3>Will one of them be yours?</h3>
			</div>
  	</div>
	</div>
</div>