
<div class="dark-blue section" style="padding-top: 10%; padding-bottom:10%;" data-anchor="contact" id="section8">
    <div class="container-header">
        <h2 class="text-center">Our community</h2>
            <div class="row" style="padding-bottom: 50px; ">
                <div class="col-xs-3 col-xs-offset-1">
                <a href="http://codeclubau.org/" target="_blank">
                    <img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,h_100/v1404111797/codeclubau_ljbmkn.png" class="img-responsive" >
                    </a>
                </div>
                <div class="col-xs-3 col-xs-offset-1">
                <a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank">
                    <img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,h_100/v1404111935/MeetupLogo1_yl11gb.png" class="img-responsive">
                    </a>
                </div>

                <div class="col-xs-3 col-xs-offset-1">
                <a href="http://coderfactory.eventbrite.com.au/" target="_blank">
                    <img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,h_100/v1404179570/eventbrite_logo_gradient_v2_v8wpty.png" class="img-responsive">
                    </a>
                </div>
            </div>
            
      <hr>
  	<div class="row">
    <div class="col-sm-3" id="quick-links">
            <h3>Links</h3>
            <ul class="fa-ul">
        <li datamenu-anchor="course"><i class="fa-li fa fa-chevron-right"></i><a href="#course" class="smoothScroll">Course</a></li>
        <li datamenu-anchor="schedule"><i class="fa-li fa fa-chevron-right"></i><a href="#schedule" class="smoothScroll">Schedule</a></li>
        <li datamenu-anchor="team"><i class="fa-li fa fa-chevron-right"></i><a href="#team" class="smoothScroll">Team</a></li>
        <li datamenu-anchor="faq"><i class="fa-li fa fa-chevron-right"></i><a href="#faq" class="smoothScroll">FAQ</a></li>
        <li><i class="fa-li fa fa-chevron-right"></i><a href="#application-form" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" class="apply-link smoothScroll">Apply</a></li>
        
        
      </ul>
           
        </div>
        <div class="col-sm-3" id="contacts-footer">
        	<h3>Contact details</h3>
            <p>91 Campbell St<br> SURRY HILLS NSW 2010<br> Australia<br>
            <a href="tel:1300 884 095" style="color:white;">1300 884 095</a><br>
            <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a></p>
            
        </div>
        <div class="col-sm-3" id="contacts-footer">
            <h3>Social links</h3>
             <ul class="fa-ul">
                <li><i class="fa-li fa fa-calendar"></i><a target="_blank" href="http://coderfactory.eventbrite.com.au/">Events</a></li>
                <li><i class="fa-li fa fa-facebook"></i> <a target="_blank" href="https://www.facebook.com/thecoderfactory">Facebook</a></li>
                <li><i class="fa-li fa fa-twitter"></i><a target="_blank" href="https://twitter.com/coderfactory">Twitter</a></li>
                <li><i class="fa-li fa fa-linkedin"></i><a target="_blank" href="http://www.linkedin.com/company/the-coder-factory">LinkedIn</a></li>
                <li><i class="fa-li fa fa-google-plus"></i><a target="_blank" href="https://plus.google.com/b/100818528139080406377/+Thecoderfactory/">Google+</a></li>
             </ul>
            
        </div>
        <div class="col-sm-3" id="contacts-footer">
        	<h3>Newsletter</h3>

            <form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group">
                Stay up to date with the latest from The Coder Factory
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter email address here" required></div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white"></div>
            </form>
            <br>
        </div>
        
        
        </div>
    </div>
</div>