<div class=" section">
	<div class="hero-container">
		<div class="fullwidthbanner-container hero-ios" id="hero-image">
<!-- <img src="http://res.cloudinary.com/coder-factory/image/upload/v1402932558/landing_jagsi4.jpg">
 -->
		 	<div class="container-header">
		 		<div class="row">
		 			<div class="col-sm-12">
		 				<div style="height: 150px;"></div>
		   			<h2><span style="color:white">Build and launch your own iOS app on the app store in 10 weeks.</span></h2>
		   		
		   		
		 			</div>
	 			</div>
		 	</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-5 text-center">
			<div id="arrow">
				<a href="#coder-factory" datamenu-anchor="coder-factory" class="smoothScroll">
					<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_80/v1403847987/down-arrow-icon_pyuiox.png" class=" center-block">
				</a>
			</div>
		</div>
	</div>
</div>