<div class="container-header">
	<div class="row">
		<div class="col-xs-12">
      <h2 class=" text-center">iOS Development<br>@ Coder Factory</h2>
    </div>
  </div>
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center text">
      <p>Learn from <a href="">Nathan Tesler</a>, founder and creator of <a href="https://itunes.apple.com/us/app/werdsmith/id489746330&mt=8" target="_blank" alt="Werdsmith the app">Werdsmith</a>, an app with over 350 000 downloads on the app store and a huge fanbase of writers and content creators.</p>
      <p>Find out how to market your app - and of course, <span style="font-weight:400;">how to make $$$ from your app</span>.</p>
      <p>Meet other new app developers in class and mingle with Coder Factory's thriving community of coders and tech startup entrepreneurs.</p>
      <p><span style="font-weight:400;">One evening per week and every Saturday for 10 weeks = your own app on the app store!</span></p>
      <p>Learn by doing. Hands on classes give you the experience and confidence you need to <span style="font-weight:400;">make your app store dreams a reality</span>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center" style="padding-bottom:20px;">
				<button href="#info-enquiry" class="btn btn-lg btn-default" data-toggle="adaptive-modal" data-am-custom-bgcolor="#FFF" style="font-family:Montserrat">Download the info pack</button>
		</div>
  </div>
</div>