<div class="container dollar">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="">Will you be Australia's next app store millionaire?</h2>

			<p>SMH: <a href="http://www.smh.com.au/small-business/startup/how-to-build-a-milliondollar-app-20130805-2r8yc.html" target="_blank">How to build a million dollar app</a></p>
			<p>Smart Company: <a href="http://www.smartcompany.com.au/technology/42872-app-monetisation-how-australian-developers-are-turning-apps-into-cash.html#" target="_blank">How Australians are turning apps into cash.</a></p>
			<p>MacWorld: <a href="http://www.macworld.com.au/blogs/how-filtersquad-discovred-success-on-the-app-store-58626/#.U9ZKYICSzIo" target="_blank">Musician, turned marine biologist, turned app store success.</a></p>
			<p>SMH: <a href="http://www.smh.com.au/digital-life/digital-life-news/is-the-app-store-gold-rush-over-20130906-2t9rq.html" target="_blank">The app store gold rush</a></p>

			<p>Anthill: <a href="http://anthillonline.com/australian-educational-app-developer-shiny-things-has-surpassed-one-million-ios-downloads/" target="_blank">Australlian app developer hits 1 million downloads.</a></p>
		</div>
	</div>
</div>