<div class="white section" style="padding-top: 5%;" data-anchor="team" id="team">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
      		<h2 style="padding-bottom:0;">Your Team</h2>
      		 
      	</div>
      </div>
      <hr>
      <div class="row">
				
				<aside class="col-sm-4 col-xs-6">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
		        	<img src="http://res.cloudinary.com/coder-factory/image/upload/c_fill,g_face,h_150,w_150/v1405419066/rwwvcnhqsgzg7uvm6hwp.jpg" class="center-block img-responsive">
		        	
			      </div>
				  </div>
				</aside>
				<aside class="col-sm-8 col-xs-6">
				<div>
			        	<strong><span itemprop="name" class="sans">Nathan Tesler</span></strong> 
			        	<span itemprop="title"><small>iOS Teacher</small></span>
			        	<p>Nathan is a self taught coder and creator of <a href="https://itunes.apple.com/us/app/werdsmith/id489746330&mt=8" target="_blank" alt="Werdsmith the app">Werdsmith</a>, a writing and collaboration app for authors that has seen 350,000 downloads to date. </p><p>He wants to help you be an app store success too.</p>
			      	</div>
				</aside>
				
			</div>
			<hr>
			<div class="row">
				<aside class="col-sm-4 col-xs-6">
    			<div itemscope itemtype="http://data-vocabulary.org/Person">
      			<div class="profile-box center-block">
      				
		        		<img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_150/v1403755108/Pete_hzzbfb.jpg" class="center-block img-responsive">
		        		
		        	
			      </div>
				  </div>
				</aside>
				<aside class="col-sm-8 col-xs-6">
				<div>
			        	<strong><span itemprop="name" class="sans">Pete Argent</span></strong>
			        	<span itemprop="title"> <small>Director</small></span>
			        	<p>Pete has been working at the intersection of technology and education for over fifteen years. Prior to starting Coder Factory he led a number of educational teams at IBM, specialising in software training at enterprise and government levels.</p>
			      	</div>
				</aside>
      </div>
      <div class="row">
		<div class="col-md-12">
			<div class=" text-center" style="padding-top:40px;">
			  <p>Come along to an info sessions and meet the team, hear all about the course and see a demonstration of what you will be able to build.</p>
			  <a href="http://coderfactory.eventbrite.com.au/" class='btn btn-default btn-lg' target="_blank">Register for an info session</a>
			</div>
		</div>
	</div>
      <br>
    </div>
  </div>

  