<!-- header -->
  <div class="header-nav basic set yamm">
   
      <div class="container">      
            <div class="basic-wrapper"> 
                 <a class="btn mobile-menu right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> 
                 <a class="logo" href="index.html"><img src="<%= asset_path 'logo22.png' %>" class="img-responsive" alt="" /></a> 
            </div>
            

        <div class="collapse navbar-collapse right">
          
          <!-- navigation -->
          <ul class="nav navbar-nav">
            
            <li><a href="contact.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            
            
            
         	<li>
               <ul class="social-top">
                  <li><a href="#" id="trigger-overlay"><i class="icon-search-1"></i></a></li>
                 
               </ul>
            </li>
          </ul>
           <!-- /navigation -->